{% extends "template.html" %}
{% block conteudo %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ title }}</h4>
                    <div class="row">
                        <div class="table-responsive">
                            {% if ambientes_banco.items %}
                            <table class="table table-boredered">
                                <thead>
                                    <th>#ID</th>
                                    <th>Descrição</th>
                                    <th>Ações</th>
                                </thead>
                                <tbody>
                                    {% for ambiente_banco in ambientes_banco.items %}
                                    <tr>
                                        <td>{{ ambiente_banco.id }}</td>
                                        <td>
                                            <a href="{{ url_for('ambientes_banco.ambiente_banco',id_ambiente_banco=ambiente_banco.id) }}">
                                                {{ ambiente_banco.descricao }}
                                            </a>
                                        </td>
                                        <td>
                                            <span>
                                                <a href="{{ url_for('ambientes_banco.editar_ambiente_banco',id_ambiente_banco=ambiente_banco.id) }}"
                                                    data-toggle="tooltip" data-placement="top" title="Editar">
                                                    <i class="fa fa-pencil color-muted m-r-5"></i>
                                                </a>
                                                <a href="#" data-toggle="modal" data-target="#deleteModal_{{ambiente_banco.id}}"
                                                    data-placement="top" title="Remover">
                                                    <i class="fa fa-close color-danger m-r-5"></i>
                                                </a>
                                                <div class="modal fade" id="deleteModal_{{ambiente_banco.id}}">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Excluir</h5>
                                                                <button type="button" class="close"
                                                                    data-dismiss="modal"><span>&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">Deseja realmente excluir esse item?
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Cancelar</button>
                                                                <form
                                                                    action="{{ url_for('ambientes_banco.remover_ambiente_banco',id_ambiente_banco=ambiente_banco.id) }}"
                                                                    method="POST">
                                                                    <button type="submit"
                                                                        class="btn btn-primary">Excluir</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </span>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                                <div class="row align-items-center">
                                    <div class="media-body">
                                        <h4 class="mb-1 text-muted">Sem itens</h4>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        {% if ambientes_banco.items %}
                        <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info">
                                Total de {{ total }}
                            </div>
                        </div>
                        {% endif %}
                        <div class="col-sm-12 col-md-7">
                            <div class="dataTables_paginage paging_simple_numbers">
                                <ul class="pagination">
                                    {% if previous %}
                                    <li class="paginage_button page-item next">
                                        <a href="{{ url_for('ambientes_banco.ambiente_banco_list',page=previous) }}" data-dt-idx="{{previous}}"
                                            class=page-link>
                                            Próximo
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% for page_num in ambientes_banco.iter_pages(left_edge=1,right_edge=1, left_current=1, right_current=2) %}
                                    {% if page_num %}

                                    {% if ambientes_banco.page == page_num %}
                                    <li class="paginage_button page-item active">
                                        <a href="{{ url_for('ambientes_banco.ambiente_banco_list',page=page_num )}}" data-dt-idx="{{page_num}}"
                                            class=page-link>
                                            {{page_num}}
                                        </a>
                                    </li>
                                    {% else %}
                                    <li class="paginage_button page-item">
                                        <a href="{{ url_for('ambientes_banco.ambiente_banco_list',page=page_num) }}" data-dt-idx="{{page_num}}"
                                            class=page-link>
                                            {{page_num}}
                                        </a>
                                    </li>
                                    {% endif %}

                                    {% else %}
                                    <li class="paginate_button page-item inactive">
                                        ...
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                    {% if next %}
                                    <li class="paginage_button page-item next">
                                        <a href="{{ url_for('ambientes_banco.ambiente_banco_list',page=next) }}" data-dt-idx="{{next}}"
                                            class=page-link>
                                            Próximo
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <a href="{{ url_for('ambientes_banco.ambiente_banco_novo') }}">
                <button class="btn btn-primary">
                    Novo
                </button>
            </a>
        </div>
    </div>
</div>

{% endblock  %}