.resultado-execucao-script{
    background-color:black;
    color: white;
  }
  
.nice-back{
    background-color:#feffe5;
}

.load-content {
  background-image: url('/static/images/load-content.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

