{% extends "template.html" %}
{% block conteudo %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ titulo }} </h4>
                    <form method="POST" action="{{url_for('situacoes_solicitacao.atualizar_situacao_solicitacao',id_situacao_solicitacao=id_situacao_solicitacao)}}">
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                {{ form.descricao.label(class="form-control-label") }}
                                {% if form.descricao.errors %}
                                {{ form.descricao(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.descricao.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.descricao(class="form-control") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                            {% if form.ativo.errors %}
                            <div class="form-check mb-3">
                                <label class="form-check-label">
                                    {{ form.ativo(class="form-check-input is-invalid") }}
                                    {{form.ativo.label}}
                                </label>
                            </div>
                            <div class="invalid-feedback">
                                {% for error in form.ativo.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            <div class="form-check mb-3">
                                <label class="form-check-label">
                                    {{ form.ativo(class="form-check-input") }}
                                    {{form.ativo.label}}
                                </label>
                            </div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {% if form.padrao_nova.errors %}
                            <div class="form-check mb-3 is-invalid">
                                <label class="form-check-label">
                                    {{ form.padrao_nova(class="form-check-input") }}
                                    {{form.padrao_nova.label}}
                                </label>
                            </div>
                            <div class="invalid-feedback">
                                {% for error in form.padrao_nova.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            <div class="form-check mb-3">
                                <label class="form-check-label">
                                    {{ form.padrao_nova(class="form-check-input") }}
                                    {{form.padrao_nova.label}}
                                </label>
                            </div>
                            {% endif %}
                        </div>
                            <div class="general-button">
                                    <a href="{{ url_for('situacoes_solicitacao.situacao_solicitacao_list') }}" class="btn btn-secondary md-1">
                                            Voltar
                                        </a>
                                {{ form.submit(class="btn btn-primary md-1") }}
                            </div>
    
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}