{% extends 'template_min.html' %}
{% block conteudo %}
<div class="container-fluid">
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Ajuda</h4>
            
                <p>Este sistema utilizou como base para o layout, um template Bootstrap 4 disponível em <b><a href="https://themeforest.net/user/quixlab">Quixlab</a></b>.</p>

                <p>Usamos Python3 com Flask para criação do backend. As bibliotecas necessárias são:</p>
                <ul class="list-icons">
                    <li><a href="javascript:void()"><i class="fa fa-chevron-right"></i> Flask==1.1.1 </a></li>
                    <li><a href="javascript:void()"><i class="fa fa-chevron-right"></i> Flask-Admin==1.5.4 </a></li>
                    <li><a href="javascript:void()"><i class="fa fa-chevron-right"></i> Flask-Bcrypt==0.7.1 </a></li>
                    <li><a href="javascript:void()"><i class="fa fa-chevron-right"></i> Flask-Breadcrumbs==0.4.0 </a></li>
                    <li><a href="javascript:void()"><i class="fa fa-chevron-right"></i> Flask-Login==0.4.1 </a></li>
                    <li><a href="javascript:void()"><i class="fa fa-chevron-right"></i> Flask-Mail==0.9.1 </a></li>
                    <li><a href="javascript:void()"><i class="fa fa-chevron-right"></i> Flask-Menu==0.7.1 </a></li>
                    <li><a href="javascript:void()"><i class="fa fa-chevron-right"></i> Flask-SQLAlchemy==2.4.1 </a></li>
                    <li><a href="javascript:void()"><i class="fa fa-chevron-right"></i> Flask-User==1.0.1.5 </a></li>
                    <li><a href="javascript:void()"><i class="fa fa-chevron-right"></i> Flask-WTF==0.14.2 </a></li>
                    <li><a href="javascript:void()"><i class="fa fa-chevron-right"></i> psycopg2-binary==2.8.4 </a></li>
                    <li><a href="javascript:void()"><i class="fa fa-chevron-right"></i> SQLAlchemy==1.3.10 </a></li>
                    <li><a href="javascript:void()"><i class="fa fa-chevron-right"></i> waitress==1.3.1 </a></li>
                </ul>


            </div>
        </div>
    </div>
</div> 
</div>
{% endblock %}