{% extends 'template_min.html' %}
{% block conteudo %}
<style>
    ul.timeline {
        list-style-type: none;
        position: relative;
    }

    ul.timeline:before {
        content: ' ';
        background: #d4d9df;
        display: inline-block;
        position: absolute;
        left: 29px;
        width: 2px;
        height: 100%;
        z-index: 400;
    }

    ul.timeline>li {
        margin: 50px 0;
        padding-left: 50px;
    }
    

    ul.timeline>li:before {
        content: ' ';
        background: white;
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        border: 3px solid #22c0e8;
        left: 20px;
        width: 20px;
        height: 20px;
        z-index: 400;
    }
</style>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-8 m-1">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        Roadmap
                    </h4>
                    <ul class="timeline">
                        <li>
                            <a href="javascript:void()">Lançamento da Versão Beta.0.1</a>
                            <a href="#" class="float-right">23 Outubro, 2019</a>
                            <p>Versão beta do sistema. Lançado para ser avaliado pelos usuários, buscando obter feedback para
                                futuras melhorias.
                            </p>
                        </li>
                        
                    </ul>
                </div>


            </div>
        </div>

    </div>
</div>
{% endblock %}