{% extends 'template_min.html' %}
{% block conteudo %}
<div class="container-fluid">
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">To do List</h4>
            
                <p>Tem muita coisa para ser feita no <b>/dev/ops!</b> e a seguir você encontra uma lista dessas pendências.</p>
            </div>
        </div>
    </div>
</div>   
<div class="row">
    <div class="col-lg-12 m-1">
        <div class="card">
            <div class="card-body">
                <div class="todo-list">
                    <div class="tdl-holder">
                        <div class="tdl-content2 tdl-content--no-label">
                            <ul>
                                <li>
                                    <label><input type="checkbox" checked="" disabled><i></i><span>Cadastro de solicitações de execução de script</span>
                                    </label>
                                    
                                
                                </li>
                                <li>
                                    <label><input type="checkbox" checked=""  disabled><i></i><span>Checagem de script no banco escolhido</span>
                                    </label>
                                    
                                </li>
                                <li>
                                    <label><input type="checkbox" checked="" disabled><i></i><span>Execução de script no banco escolhido</span>
                                    </label>
                                    
                                </li>
                                <li>
                                    <label><input type="checkbox"  disabled><i></i><span>Interação nas solicitações por meio de mensagens</span>
                                    </label>
                                    
                                </li>
                                <li>
                                    <label><input type="checkbox" disabled><i></i><span>Logar com usuario do sigaa</span>
                                    </label>
                                    
                                </li>
                                <li>
                                    <label><input type="checkbox"  disabled><i></i><span>Replicação das tarefas no redmine</span>
                                    </label>
                                    
                                </li>
                                <li>
                                    <label><input type="checkbox"  disabled><i></i><span>Suporte a outros bancos além do PostgreSQL</span>
                                    </label>
                                    
                                </li>
                                <li>
                                    <label><input type="checkbox"  disabled><i></i><span>Área de alteração de dados de perfil</span>
                                    </label>
                                    
                                </li>
                                <li>
                                    <label><input type="checkbox"  disabled><i></i><span>Consulta de solicitações</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}