{% extends "template.html" %}
{% block conteudo %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ titulo }} </h4>
                    <form method="POST" action="{{url_for('usuarios.usuario_novo')}}">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.login_field.label(class="form-control-label") }}
                            {% if form.login_field.errors %}
                            {{ form.login_field(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.login_field.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.login_field(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.senha_field.label(class="form-control-label") }}
                            {% if form.senha_field.errors %}
                            {{ form.senha_field(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.senha_field.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.senha_field(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.email.label(class="form-control-label") }}
                            {% if form.email.errors %}
                            {{ form.email(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.email(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.nome.label(class="form-control-label") }}
                            {% if form.nome.errors %}
                            {{ form.nome(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.nome.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.nome(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.setor.label(class="form-control-label") }}
                            {% if form.setor.errors %}
                                {{ form.setor(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.setor.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.setor(class='form-control') }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label>{{ form.tipo_usuario.label }}</label>
                            {{ form.tipo_usuario(class='form-control') }}
                        </div>
                        <div class="form-group">
                            <div class="form-check mb-3">
                                <label class="form-check-label">
                                    {{ form.ativo(class="form-check-input") }}
                                    {{form.ativo.label}}
                                </label>
                            </div>
                        </div>
                        <div class="general-button">
                            <a href="{{ url_for('usuarios.usuario_list') }}" class="btn btn-secondary md-1">
                                Voltar
                            </a>
                            {{ form.submit(class="btn btn-primary md-1") }}
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('login').focus();
</script>
{% endblock  %}