{% extends "template.html" %}
{% block conteudo %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ titulo }} </h4>
                    <form method="POST" action="{{url_for('tipos_sgbd.atualizar_tipo_sgbd',id_tipo_sgbd=id_tipo_sgbd)}}">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.descricao.label(class="form-control-label") }}
                            {{ form.descricao(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form.formato_url.label(class="form-control-label") }}
                            {{ form.formato_url(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form.porta_padrao.label(class="form-control-label") }}
                            {{ form.porta_padrao(class="form-control") }}
                        </div>
                        <div class="general-button">
                            <a href="{{ url_for('tipos_sgbd.tipo_sgbd_list') }}" class="btn btn-secondary mb-1">
                                Voltar
                            </a>

                            {{ form.submit(class="btn btn-primary mb-1") }}

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}