<div class="row">
    {% if linguagens.items %}
    <div class="col-sm-12 col-md-5">
        <div class="dataTables_info">
            Total de {{ paginacao['total'] }}
        </div>
    </div>
    {% endif %}
    <div class="col-sm-12 col-md-7">
        <div class="dataTables_paginage paging_simple_numbers">
            <ul class="pagination">
                {% if paginacao['previous'] %}
                <li class="paginage_button page-item next">
                    <a href="{{ url_for('linguagens_comentario.linguagem_comentario_list',page=paginacao['previous']) }}" data-dt-idx="{{paginacao['previous']}}"
                        class=page-link>
                        Próximo
                    </a>
                </li>
                {% endif %}
                {% for page_num in linguagens.iter_pages(left_edge=1,right_edge=1, left_current=1, right_current=2) %}
                {% if page_num %}

                {% if linguagens.page == page_num %}
                <li class="paginage_button page-item active">
                    <a href="{{ url_for('linguagens_comentario.linguagem_comentario_list',page=page_num )}}" data-dt-idx="{{page_num}}"
                        class=page-link>
                        {{page_num}}
                    </a>
                </li>
                {% else %}
                <li class="paginage_button page-item">
                    <a href="{{ url_for('linguagens_comentario.linguagem_comentario_list',page=page_num) }}" data-dt-idx="{{page_num}}"
                        class=page-link>
                        {{page_num}}
                    </a>
                </li>
                {% endif %}

                {% else %}
                <li class="paginate_button page-item inactive">
                    ...
                </li>
                {% endif %}
                {% endfor %}
                {% if paginacao['next'] %}
                <li class="paginage_button page-item next">
                    <a href="{{ url_for('linguagens_comentario.linguagem_comentario_list',page=paginacao['next']) }}" data-dt-idx="{{paginacao['next']}}"
                        class=page-link>
                        Próximo
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>