<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>/dev/ops!</title>
<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static',filename='images/favicon.png') }}">
<!-- Custom Stylesheet -->
<link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='css/custom.css') }}" rel="stylesheet">