<script src="{{ url_for('static',filename='plugins/common/common.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/custom.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/settings.js') }}"></script>
<script src="{{ url_for('static',filename='js/gleek.js') }}"></script>
<script src="{{ url_for('static',filename='js/styleSwitcher.js') }}"></script>
<script src="{{ url_for('static',filename='js/dashboard/dashboard-1.js') }}"></script>
