<ul class="metismenu" id="menu">
    <li class="nav-label">/dev/ops!</li>
    <li>
        <a class="has-arrow" href="javascript:void()" aria-expanded="true">
            <i class="menu-icon"></i><span class="nav-text">Sobre</span>
        </a>

        <ul aria-expanded="false">
            <li><a href="{{ url_for('help') }}">Ajuda</a></li>
            <li><a href="{{ url_for('roadmap') }}">Roadmap</a></li>
            <li><a href="{{ url_for('todo') }}">TODO</a></li>
            <!-- <li><a href="index-2.html">Home 2</a></li> -->
        </ul>
    </li>
</ul>