{% if not solicitacao.situacao.is_ativo() %}
<div class="row justify-content-center">
    {% if solicitacao.situacao.is_cancelada() %}
    <div class="alert alert-danger">
        Esta solicitação foi cancelada por <b>{{ solicitacao.responsavel.nome }}</b> em <b>{{ solicitacao.get_data_finalizacao() }}</b> 
    </div>        
    {% else %}
    <div class="alert alert-success">
        Esta solicitação foi atendida por <b>{{ solicitacao.responsavel.nome }}</b> em <b>{{ solicitacao.get_data_finalizacao() }}</b> 
    </div>        
    {% endif %}
</div>
{% endif %}