{% extends "template.html" %}
{% block conteudo %}
<link rel="stylesheet" href="{{ url_for('static',filename='plugins/highlightjs/styles/atom-one-dark.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='plugins/loading/css/style.css') }}">
<div class="container-fluid">

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Solicitação #{{ solicitacao.id }}</h4>
                        <p>{{ solicitacao.solicitante.nome }}</p>
                    <hr>
                    {% include 'solicitacao/includes/solicitacao_atendida.html' %}
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <b>{{ form.titulo.label }}:</b>
                            {{ solicitacao.titulo }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-lg-12">
                            <b>{{ form.texto.label }}:</b>
                            {{ solicitacao.texto }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <b>{{ form.data_solicitacao.label }}:</b>
                            {{ solicitacao.get_data_solicitacao() }}
                        </div>
                        <div class="form-group col-lg-6">
                            <b>{{ form.situacao.label }}:</b>
                            {{ solicitacao.situacao.descricao }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-4">
                            <b>{{ form.tipo_solicitacao.label }}:</b>
                            {{ solicitacao.tipo_solicitacao.descricao }}
                        </div>
                        <div class="form-group col-lg-4">
                            <b>{{ form.ambiente.label }}:</b>
                            {{ solicitacao.ambiente.descricao }}
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-lg-4">
                            <b>{{ form.banco.label }}:</b>
                            <a
                                href="{{ url_for('bancos_trabalho.banco_trabalho',id_banco_trabalho=solicitacao.banco.id) }}">
                                {{ solicitacao.banco.nome }}
                            </a>
                        </div>
                        <div class="form-group col-lg-4">
                            <b>{{ form.responsavel.label }}:</b>
                            {% if not solicitacao.responsavel %}
                                <span class="alert alert-warning p-1"><b>Ainda sem responsável.</b></span>
                            {% else %}
                                {{ solicitacao.responsavel.nome }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <b>{{ form.script.label }}:</b>
                            <pre><code class="sql" id="script_code">{{ solicitacao.script }}</code></pre>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="form-group col-lg-4  mt-3">
                            <a href="{{ url_for('solicitacoes.minhas_solicitacoes_abertas') }}">
                                <button class="btn btn-secondary"> Voltar </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- <script src="{{ url_for('static',filename='js/solicitacoes.js') }}"></script> -->
<script src="{{ url_for('static',filename='plugins/highlightjs/highlight.pack.min.js') }}"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock  %}