<link href="{{ url_for('static',filename='plugins/tables/css/datatable/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
<div class="container-fluid mt-3">
    <div class="row justify-content-center">
        {% include 'dashboard/includes/card_total.html' %}
        {% include 'dashboard/includes/card_abertas.html' %}
        {% include 'dashboard/includes/card_fechadas.html' %}
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Solicitações</h4>
                    <div class="table-responsive">
                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">

                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-striped table-bordered zero-configuration dataTable"
                                        id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0"
                                                    rowspan="1" colspan="1" aria-sort="ascending"
                                                    aria-label="Name: activate to sort column descending"
                                                    style="width: 20.2px;">ID</th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Position: activate to sort column ascending"
                                                    style="width: 270.6px;">Título</th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Office: activate to sort column ascending"
                                                    style="width: 123.4px;">Solicitado em</th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Age: activate to sort column ascending"
                                                    style="width: 57px;">Banco</th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Start date: activate to sort column ascending"
                                                    style="width: 113px;">Situação</th>
                                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0"
                                                    rowspan="1" colspan="1"
                                                    aria-label="Salary: activate to sort column ascending"
                                                    style="width: 95.6px;">Responsável</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for solicitacao in solicitacoes %}
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">{{solicitacao.id}}</td>
                                                <td>{{ solicitacao.titulo_curto(padrao=50) }}</td>
                                                <td>{{ solicitacao.get_data_solicitacao() }}</td>
                                                <td>{{ solicitacao.banco.nome }}</td>
                                                <td>{{ solicitacao.situacao.descricao }}</td>
                                                <td>{{ solicitacao.responsavel.login }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            
                                        </tfoot>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>