<div class="container-fluid mt-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Solicitações</h4>
        
        <ul class="nav nav-tabs mt-3" role="tablist">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#home8"><span><i class="ti-home"></i></span></a>
            </li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#profile8"><span><i class="ti-user"></i></span></a>
            </li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#messages8"><span><i class="ti-email"></i></span></a>
            </li>
        </ul>  
      </div>
    </div>
    
</div>