
<input type="search" class="form-control"  aria-label="Search Dashboard">
<div class="drop-down animated flipInX d-md-none">
    <form action="{{ url_for('consulta_solicitacao') }}" method='POST'>
        <input type="text" class="form-control" placeholder="Search" id='numero'>
        <input type='submit' class="btn btn-black" value="Procurar">
    </form>
</div>