<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>/dev/ops!</title>
<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static',filename='images/favicon.png') }}">
<!-- Pignose Calender -->
<link href="{{ url_for('static',filename='plugins/pg-calendar/css/pignose.calendar.min.css') }}" rel="stylesheet">
<!-- Chartist 
    {{ url_for('static',filename='') }}
-->  
<link rel="stylesheet" href="{{ url_for('static',filename='plugins/chartist/css/chartist.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css') }}">
<!-- Custom Stylesheet -->
<link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='css/custom.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='plugins/toastr/css/toastr.min.css') }}" rel="stylesheet">