<div class="header-content clearfix">
    <div class="nav-control">
        <div class="hamburger">
            <span class="toggle-icon"><i class="icon-menu"></i></span>
        </div>
    </div>
    <div class="header-left">
        <div class="input-group icons">
            <div class="input-group-prepend">
                <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
            </div>
            {% include 'includes/formulario_consulta.html' %}
        </div>
    </div>
    <div class="header-right">
        <ul class="clearfix">
            {% if current_user.is_authenticated %}
                {% include 'includes/menu_superior_autenticado.html' %}
            {% else %}
                <li class="icons dropdown d-none d-md-flex">
                    <a href="{{ url_for('acesso.login') }}"><i class="icon-key"></i> <span>Entrar</span></a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>