<script src="{{ url_for('static',filename='plugins/common/common.min.js') }}"></script>
    
<script src="{{ url_for('static',filename='js/custom.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/settings.js') }}"></script>
<script src="{{ url_for('static',filename='js/gleek.js') }}"></script>
<script src="{{ url_for('static',filename='js/styleSwitcher.js') }}"></script>

<!-- Chartjs -->
<script src="{{ url_for('static',filename='plugins/chart.js/Chart.bundle.min.js') }}"></script>
<!-- Circle progress -->
<script src="{{ url_for('static',filename='plugins/circle-progress/circle-progress.min.js') }}"></script>
<!-- Datamap -->
<script src="{{ url_for('static',filename='plugins/d3v3/index.js') }}"></script>
<script src="{{ url_for('static',filename='plugins/topojson/topojson.min.js') }}"></script>
<script src="{{ url_for('static',filename='plugins/datamaps/datamaps.world.min.js') }}"></script>
<!-- Morrisjs -->
<script src="{{ url_for('static',filename='plugins/raphael/raphael.min.js') }}"></script>
<script src="{{ url_for('static',filename='plugins/morris/morris.min.js') }}"></script>
<!-- Pignose Calender -->
<script src="{{ url_for('static',filename='plugins/moment/moment.min.js') }}"></script>
<script src="{{ url_for('static',filename='plugins/pg-calendar/js/pignose.calendar.min') }}.js"></script>
<!-- ChartistJS -->
<script src="{{ url_for('static',filename='plugins/chartist/js/chartist.min.js') }}"></script>
<script src="{{ url_for('static',filename='plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js') }}"></script>

<script src="{{ url_for('static',filename='js/dashboard/dashboard-1.js') }}"></script>

<script src="{{ url_for('static',filename='plugins/tables/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static',filename='plugins/tables/js/datatable/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('static',filename='plugins/tables/js/datatable-init/datatable-basic.min.js') }}"></script>