<div class="nav-header">
    <div class="brand-logo">
        <a href="{{ url_for('index') }}">
            <b class="logo-abbr"><img src="{{ url_for('static',filename='images/logo.png') }}" alt=""> </b>
            <span class="logo-compact">
                <img src="{{ url_for('static',filename='images/logo-compact.png') }}" alt="">
            </span>
            <span class="brand-title mt-0">
                <img src="{{ url_for('static',filename='images/logo-text.png') }}" alt="">
            </span>
        </a>
    </div>
</div>