<ul class="metismenu" id="menu">
    <li class="nav-label">/dev/ops!</li>
    <li><a href="{{ url_for('acesso.login') }}">Login</a></li>
    <!-- <li><a href="index-2.html">Home 2</a></li> -->
    <li><a href="{{url_for('help')}}">Ajuda</a></li>
</ul>