<li class="icons dropdown d-none d-md-flex">
        {{ current_user.login }}    
</li>
<li class="icons dropdown">
    <div class="user-img c-pointer position-relative"   data-toggle="dropdown">
        <span class="activity active"></span>
        {% if current_user.avatar %}
            <img src="{{ url_for('static',filename='images/user/default.png') }}" height="40" width="40" alt="">
        {% else %}
            <img src="{{ url_for('static',filename='images/user/default.png') }}" height="40" width="40" alt="">
        {% endif %}
    </div>
    <div class="drop-down dropdown-profile animated fadeIn dropdown-menu">
        <div class="dropdown-content-body">
            <ul>
                <li>
                    <a href="{{ url_for('perfil') }}"><i class="icon-user"></i> <span>Perfil</span></a>
                    <!-- <a href="javascript:void()"><i class="icon-user"></i> <span>Perfil</span></a> -->
                </li>
                <hr class="my-2">
                
                <li><a href="{{ url_for('acesso.logout') }}"><i class="icon-key"></i> <span>Logout</span></a></li>
            </ul>
        </div>
    </div>
</li>