<ul class="metismenu" id="menu">
    <li class="nav-label">/dev/ops!</li>
    <li>
        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
            <i class="icon-pin menu-icon"></i><span class="nav-text">Dashboard</span>
        </a>
        <ul aria-expanded="false">
            <li><a href="{{url_for('dashboards.solicitacoes')}}">Solicitações</a></li>
            <!-- <li><a href="index-2.html">Home 2</a></li> -->
        </ul>
    </li>
    <li class="mega-menu mega-menu-sm">
        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
            <i class="icon-docs menu-icon"></i><span class="nav-text">Cadastros</span>
        </a>
        <ul aria-expanded="false">
            <li><a href="{{ url_for('solicitacoes.solicitacao_list') }}">Solicitações</a></li>
            <li><a href="{{ url_for('bancos_trabalho.banco_trabalho_list') }}">Banco de Dados</a></li>
            <li><a href="{{ url_for('ambientes_banco.ambiente_banco_list') }}">Ambientes</a></li>
            <li><a href="{{ url_for('grupos_banco.grupo_banco_list') }}">Grupos (db)</a></li>
            <li><a href="{{ url_for('tipos_sgbd.tipo_sgbd_list') }}">Tipos de SGBD</a></li>
            <li><a href="{{ url_for('linguagens_comentario.linguagem_comentario_list') }}">Linguagens Suportadas</a></li>
            <li><a href="{{ url_for('tipos_solicitacao.tipo_solicitacao_list') }}">Tipos de Solicitação</a></li>
            <li><a href="{{ url_for('situacoes_solicitacao.situacao_solicitacao_list') }}">Situação da Solicitação</a></li>
            <li><a href="{{ url_for('setores.setor_list') }}">Setores</a></li>
            <li><a href="{{ url_for('usuarios.usuario_list') }}">Usuários</a></li>
        </ul>
    </li>
</ul>