<ul class="metismenu" id="menu">
    <li class="nav-label">DBA - Dashboard</li>
    {% if current_user.is_ativo() %}
    <li>
        <a class="has-arrow" href="javascript:void()" aria-expanded="true">
            <i class="icon-note menu-icon"></i><span class="nav-text">Solicitações</span>
        </a>
        <ul aria-expanded="false">
            <li><a href="{{ url_for('solicitacoes.solicitar_nova') }}">Nova Solicitação</a></li>
            <li><a href="{{url_for('solicitacoes.minhas_solicitacoes_abertas')}}">Abertas</a></li>
            <li><a href="{{url_for('solicitacoes.minhas_solicitacoes_encerradas')}}">Encerradas</a></li>
            <!-- <li><a href="index-2.html">Home 2</a></li> -->
        </ul>
    </li>
    {% endif %}
</ul>