{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <!-- Toastr -->
        <script src="{{ url_for('static',filename='plugins/toastr/js/toastr.min.js') }}"></script>
        <script src="{{ url_for('static',filename='plugins/toastr/js/toastr.init.js') }}"></script>
            <script>
                    toastr.options = {
                        "closeButton": true,
                        "debug": false,
                        "newestOnTop": false,
                        "progressBar": true,
                        "positionClass": "toast-top-center",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "500",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                        };
                {% for category, message in messages %}
                    toastr.{{category}}('{{message}}','');  
                {% endfor %}
            </script>   
        {% endif %}
{% endwith %}