{% extends "template.html" %}
{% block conteudo %}
<style>
    .field-icon {
        float: right;
        margin-left: -25px;
        margin-top: -25px;
        position: relative;
        z-index: 2;
    }
    

</style>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ titulo }} </h4>
                    <form method="POST" action="{{url_for('bancos_trabalho.atualizar_banco_trabalho',id_banco_trabalho=id_banco_trabalho)}}">
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                {{ form.nome.label(class="form-control-label") }}
                                {% if form.nome.errors %}
                                    {{ form.nome(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.nome.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.nome(class="form-control") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.host_name.label(class="form-control-label") }}
                                {% if form.host_name.errors %}
                                    {{ form.host_name(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.host_name.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.host_name(class="form-control") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.porta.label(class="form-control-label") }}
                                {% if form.porta.errors %}
                                    {{ form.porta(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.porta.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.porta(class="form-control") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.nome_database.label(class="form-control-label") }}
                                {% if form.nome_database.errors %}
                                    {{ form.nome_database(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.nome_database.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.nome_database(class="form-control") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.usuario_database.label(class="form-control-label") }}
                                {% if form.usuario_database.errors %}
                                    {{ form.usuario_database(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.usuario_database.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.usuario_database(class="form-control") }}
                                {% endif %}
                            </div>
                            <div class="form-group" id='senha'>
                                {{ form.senha_database.label(class="form-control-label") }}
                                {% if form.senha_database.errors %}
                                    {{ form.senha_database(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.senha_database.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.senha_database(class="form-control") }}
                                    <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password">
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.tipo_sgbd.label(class="form-control-label") }}
                                {% if form.tipo_sgbd.errors %}
                                    {{ form.tipo_sgbd(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.tipo_sgbd.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.tipo_sgbd(class="form-control") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.ambiente.label(class="form-control-label") }}
                                {% if form.ambiente.errors %}
                                    {{ form.ambiente(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.ambiente.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.ambiente(class="form-control") }}
                                {% endif %}
                            </div>
                            <div class="general-button">
                                <a href="{{ url_for('bancos_trabalho.banco_trabalho_list') }}" class="btn mb-1 btn-secondary">
                                    Voltar
                                </a>
                                {{ form.submit(class="btn mb-1 btn-primary") }}
                            </div>
                            
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
        var input = document.querySelector('#senha input');
        var img = document.querySelector('#senha span');
        img.addEventListener('click', function () {
          input.type = input.type == 'text' ? 'password' : 'text';
        });

</script>
{% endblock  %}