{% extends "template.html" %}
{% block conteudo %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                        <h4 class="card-title">{{ title }}</h4>
                        <div class="row">
                            <div class="table-responsive">
                                {% if bancos_trabalho.items %}
                                <table class="table table-boredered">
                                    <thead>
                                        <th>#ID</th>
                                        <th>Nome</th>
                                        <th>HostName</th>
                                        <th>Porta</th>
                                        <th>Database</th>
                                        <th>Tipo</th>
                                        <th>Ambiente</th>
                                        <th>Ações</th>
                                    </thead>
                                    <tbody>
                                        {% for banco_trabalho in bancos_trabalho.items %}
                                        <tr>
                                            <td>{{ banco_trabalho.id }}</td>
                                            <td>
                                                <a href="{{ url_for('bancos_trabalho.banco_trabalho',id_banco_trabalho=banco_trabalho.id) }}">
                                                    {{ banco_trabalho.nome }}
                                                </a>
                                            </td>
                                            <td>{{ banco_trabalho.host_name }}</td>
                                            <td>{{ banco_trabalho.porta }}</td>
                                            <td>{{ banco_trabalho.nome_database }}</td>
                                            <td>{{ banco_trabalho.tipo_sgbd.descricao}}</td>
                                            <td>{{ banco_trabalho.ambiente_banco.descricao }}</td>
                                            <td>
                                                    <span>
                                                        <a href="{{ url_for('bancos_trabalho.editar_banco_trabalho',id_banco_trabalho=banco_trabalho.id) }}" data-toggle="tooltip" data-placement="top" title="Editar">
                                                            <i class="fa fa-pencil color-muted m-r-5"></i> 
                                                        </a>
                                                        <a href="#" data-toggle="modal" data-target="#deleteModal_{{banco_trabalho.id}}" data-placement="top" title="Remover">
                                                            <i class="fa fa-close color-danger m-r-5"></i>
                                                        </a>
                                                        <div class="modal fade" id="deleteModal_{{banco_trabalho.id}}">
                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title">Excluir</h5>
                                                                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">Deseja realmente excluir esse item?</div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                                        <form action="{{ url_for('bancos_trabalho.remover_banco_trabalho',id_banco_trabalho=banco_trabalho.id) }}" method="POST">
                                                                            <button type="submit" class="btn btn-primary">Excluir</button>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </span>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% else %}
                                    <div class="media align-items-center mb-4">
                                        <div class="media-body">
                                            <h4 class="mb-1 text-muted">Sem itens</h4>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                    </div>
                        
                    <div class="row">
                        {% if bancos_trabalho.items %}
                        <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info">
                                Total de {{ total }}
                            </div>
                        </div>
                        {% endif %}
                        <div class="col-sm-12 col-md-7">
                            <div class="dataTables_paginage paging_simple_numbers">
                                <ul class="pagination">
                                    {% if previous %}
                                    <li class="paginage_button page-item next">
                                        <a href="{{ url_for('bancos_trabalho.banco_trabalho_list',page=previous) }}" data-dt-idx="{{previous}}" class=page-link>
                                            Próximo
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% for page_num in bancos_trabalho.iter_pages(left_edge=1,right_edge=1, left_current=1, right_current=2) %}
                                        {% if page_num %}
                                        
                                            {% if bancos_trabalho.page == page_num %}
                                                <li class="paginage_button page-item active">
                                                    <a href="{{ url_for('bancos_trabalho.banco_trabalho_list',page=page_num )}}" data-dt-idx="{{page_num}}" class=page-link>
                                                        {{page_num}}
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li class="paginage_button page-item">
                                                    <a href="{{ url_for('bancos_trabalho.banco_trabalho_list',page=page_num) }}" data-dt-idx="{{page_num}}" class=page-link>
                                                        {{page_num}}
                                                    </a>
                                                </li>
                                            {% endif %}
                                            
                                        {% else %}
                                            <li class="paginate_button page-item inactive">
                                                    ...
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if next %}
                                        <li class="paginage_button page-item next">
                                            <a href="{{ url_for('bancos_trabalho.banco_trabalho_list',page=next) }}" data-dt-idx="{{next}}" class=page-link>
                                                Próximo
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
    <div class="row">
        <div class="col-lg-12">
            <a href="{{ url_for('bancos_trabalho.banco_trabalho_novo') }}">
                <button class="btn btn-primary">
                    Novo
                </button>
            </a> 
        </div>
    </div>
</div>

{% endblock  %}