{% extends "template.html" %}
{% block conteudo %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ title }}</h4>
                    <ul class="card-profile__info">
                        <li class="mb-1">
                            <strong class="text-dark mr-4">
                                ID
                            </strong> 
                            <span>
                                {{ banco_trabalho.id }}
                            </span>
                        </li>
                        <li class="mb-1">
                            <strong class="text-dark mr-4">
                                {{ form.nome.label }}:
                            </strong> 
                            <span>
                                {{ banco_trabalho.nome }}
                            </span>
                        </li>
                        <li class="mb-1">
                            <strong class="text-dark mr-4">
                                {{ form.host_name.label }}:
                            </strong> 
                            <span>
                                {{ banco_trabalho.host_name }}
                            </span>
                        </li>
                        <li class="mb-1">
                            <strong class="text-dark mr-4">
                                {{ form.porta.label }}:
                            </strong> 
                            <span>
                                {{ banco_trabalho.porta }}
                            </span>
                        </li>
                        <li class="mb-1">
                            <strong class="text-dark mr-4">
                                {{ form.nome_database.label }}:
                            </strong> 
                            <span>
                                {{ banco_trabalho.nome_database }}
                            </span>
                        </li>
                        <li class="mb-1">
                            <strong class="text-dark mr-4">
                                {{ form.usuario_database.label }}:
                            </strong> 
                            <span>
                                {{ banco_trabalho.usuario_database }}
                            </span>
                        </li>
                        <li class="mb-1">
                            <strong class="text-dark mr-4">
                                {{ form.tipo_sgbd.label }}:
                            </strong> 
                            <span>
                                {{ banco_trabalho.tipo_sgbd.descricao }}
                            </span>
                        </li>
                        <li class="mb-1">
                            <strong class="text-dark mr-4">
                                {{ form.ambiente.label }}:
                            </strong> 
                            <span>
                                {{ banco_trabalho.ambiente_banco.descricao }}
                            </span>
                        </li>
                    </ul>
                    <li class="mb-1">
                        <strong class="text-dark mr-4">
                            {{ form.nome.label }}:
                        </strong> 
                        <span>
                            {{ form.nome.data }}
                        </span>
                    </li>
                    <div class="general-button">
                        <a href="{{ url_for('bancos_trabalho.banco_trabalho_list') }}" class="btn mb-1 btn-secondary">
                                Voltar
                        </a>
                        <a href="{{ url_for('bancos_trabalho.editar_banco_trabalho',id_banco_trabalho=banco_trabalho.id) }}">
                            <button type="button" class="btn mb-1 btn-primary">
                                Editar
                            </button>
                        </a>
                        <a href="#" data-toggle="modal" data-target="#deleteModal">
                            <button type="button" class="btn mb-1 btn-danger">
                                Excluir
                            </button>
                        </a>
                        <div class="modal fade" id="deleteModal">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Excluir</h5>
                                            <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">Deseja realmente excluir esse item?</div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                            <form action="{{ url_for('bancos_trabalho.remover_banco_trabalho',id_banco_trabalho=banco_trabalho.id) }}" method="POST">
                                                <button type="submit" class="btn btn-primary">Excluir</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}