{% extends "template.html" %}
{% block conteudo %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ titulo }} </h4>
                    <form method="POST" action="{{url_for('setores.setor_novo')}}">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.nome.label(class="form-control-label") }}
                            {% if form.nome.errors %}
                            {{ form.nome(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.nome.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.nome(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.numero_sala.label(class="form-control-label") }}
                            {% if form.numero_sala.errors %}
                            {{ form.numero_sala(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.numero_sala.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.numero_sala(class="form-control") }}
                            {% endif %}
                        </div>

                        <div class="general-button">
                            <a href="{{ url_for('setores.setor_list') }}" class="btn btn-secondary mb-1">
                                Voltar
                            </a>
                            {{ form.submit(class="btn btn-primary md-1") }}
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('nome').focus();
</script>
{% endblock  %}