
<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>/dev/ops!</title>
    <!-- Favicon icon 
        {{ url_for('static',filename='') }}
    -->
    
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static',filename='images/favicon.png') }}">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"> -->
    <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet">
    
</head>

<body class="h-100">
    
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <div class="login-form-bg h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-xl-6">
                    <div class="form-input-content">
                        <div class="card login-form mb-0">
                            <div class="card-body pt-5">
                                <a class="text-center" href="{{ url_for('index') }}"> <h4>Login /dev/ops!</h4></a>
        
                                <form class="mt-5 mb-5 login-input" method="POST" action="{{ url_for('acesso.login') }}">
                                    {{ form.hidden_tag() }}
                                    <div class="form-group">
                                        {{ form.login.label(class="form-control-label") }}
                                        {% if form.login.erros %}
                                            {{ form.login(class='form-control form-control-lg is-invalid') }}
                                            <div class="invalid-feedback">
                                                {% for erro in form.login.erros%}
                                                    <span>{{ erro }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.login(class='form-control form-control-lg') }}
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        {{ form.senha.label(class="form-control-label") }}
                                        {% if form.senha.erros %}
                                            {{ form.senha(class='form-control form-control-lg is-invalid') }}
                                            <div class="invalid-feedback">
                                                {% for erro in form.senha.erros%}
                                                    <span>{{ erro }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.senha(class="form-control form-control-lg") }}
                                        {% endif %}
                                    </div>
                                    {{ form.submit(class="btn login-form__btn submit w-100") }}
                                </form>


                                <p class="mt-5 login-form__footer">Não tem uma conta ainda? <a href="{{ url_for('acesso.cadastrar') }}" class="text-primary">Cadastrar</a> agora</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="{{ url_for('static',filename='plugins/common/common.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/custom.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/settings.js') }}"></script>
    <script src="{{ url_for('static',filename='js/gleek.js') }}"></script>
    <script src="{{ url_for('static',filename='js/styleSwitcher.js') }}"></script>
    <script>
        document.getElementById('usuario').focus()
    </script>
</body>
</html>





