{% extends "template.html" %}
{% block conteudo %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">
                            Seja bem vindo ao /dev/ops!
                        </h2>
                        <hr>
                        <div id="card-content">
                            <p class="text-justify">
                                O <b>/dev/ops!</b> é um pequeno sistema concebido para atender a chamados específicos da equipe de 
                                DevOps da UFPI.
                            </p>
                            <p class="text-justify">
                                Você pode solicitar a <b>execução de scripts</b> nos diversos ambientes disponíveis para a equipe de desenvolvimento, bem como acompanhá-los e interagir com o analista responsável.
                                
                            </p>
                            <p>
                                As operações permitidas são:
                            </p>
                            {% if current_user.is_authenticated %}
                            <ul class="list-icons">
                                <li>
                                    <i class="fa fa-check text-info">
                                        
                                    </i>
                                    <a href="{{ url_for('solicitacoes.solicitar_nova') }}">Nova Solicitação</a>
                                </li>
                                <li>
                                    <i class="fa fa-check text-info">
                                        
                                    </i>
                                    <a href="{{ url_for('solicitacoes.minhas_solicitacoes_abertas') }}">Solicitações Abertas</a>
                                </li>
                                <li>
                                    <i class="fa fa-check text-info">
                                        
                                    </i>
                                    <a href="{{ url_for('solicitacoes.minhas_solicitacoes_encerradas') }}">Solicitações Encerradas</a>
                                </li>
                            </ul>
                            {% if not current_user.is_ativo() %}
                                <div class='alert alert-warning'>
                                    Sua conta ainda não está ativa.
                                </div>
                            {% endif %}
                            {% else %}
                            <ul class="list-icons">
                                    <li>
                                        <i class="fa fa-check text-info">
                                            
                                        </i>
                                        <a href="javascript:void()">Nova Solicitação</a>
                                    </li>
                                    <li>
                                        <i class="fa fa-check text-info">
                                            
                                        </i>
                                        <a href="javascript:void()">Solicitações Abertas</a>
                                    </li>
                                    <li>
                                        <i class="fa fa-check text-info">
                                            
                                        </i>
                                        <a href="javascript:void()">Solicitações Encerradas</a>
                                    </li>
                                </ul>

                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock  %}