{% extends "template.html" %}
{% block conteudo %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                            <h4 class="card-title">{{ title }}</h4>
                            <div class="row">
                                <div class="table-responsive">
                                    {% if tipos_solicitacao.items %}
                                    <table class="table table-boredered">
                                        <thead>
                                            <th>#ID</th>
                                            <th>Nome</th>
                                            <th>Ações</th>
                                        </thead>
                                        <tbody>
                                            {% for tipo_solicitacao in tipos_solicitacao.items %}
                                            <tr>
                                                <td>{{ tipo_solicitacao.id }}</td>
                                                <td>
                                                    <a href="{{ url_for('tipos_solicitacao.tipo_solicitacao',id_tipo_solicitacao=tipo_solicitacao.id) }}">
                                                        {{ tipo_solicitacao.descricao }}
                                                    </a>
                                                </td>
                                                <td>
                                                        <span>
                                                            <a href="{{ url_for('tipos_solicitacao.editar_tipo_solicitacao',id_tipo_solicitacao=tipo_solicitacao.id) }}" data-toggle="tooltip" data-placement="top" title="Editar">
                                                                <i class="fa fa-pencil color-muted m-r-5"></i> 
                                                            </a>
                                                            <a href="#" data-toggle="modal" data-target="#deleteModal_{{tipo_solicitacao.id}}" data-placement="top" title="Remover">
                                                                <i class="fa fa-close color-danger m-r-5"></i>
                                                            </a>
                                                            <div class="modal fade" id="deleteModal_{{tipo_solicitacao.id}}">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title">Excluir</h5>
                                                                            <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">Deseja realmente excluir esse item?</div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                                            <form action="{{ url_for('tipos_solicitacao.remover_tipo_solicitacao',id_tipo_solicitacao=tipo_solicitacao.id) }}" method="POST">
                                                                                <button type="submit" class="btn btn-primary">Excluir</button>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </span>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    {% else %}
                                        <div class="media align-items-center mb-4">
                                            <div class="media-body">
                                                <h4 class="mb-1 text-muted">Sem itens</h4>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                        </div>
                         
                        <div class="row">
                            {% if tipos_solicitacao.items %}
                            <div class="col-sm-12 col-md-5">
                                <div class="dataTables_info">
                                    Total de {{ total }}
                                </div>
                            </div>
                            {% endif %}
                            <div class="col-sm-12 col-md-7">
                                <div class="dataTables_paginage paging_simple_numbers">
                                    <ul class="pagination">
                                        {% if previous %}
                                        <li class="paginage_button page-item next">
                                            <a href="{{ url_for('tipos_solicitacao.tipo_solicitacao_list',page=previous) }}" data-dt-idx="{{previous}}" class=page-link>
                                                Próximo
                                            </a>
                                        </li>
                                        {% endif %}
                                        {% for page_num in tipos_solicitacao.iter_pages(left_edge=1,right_edge=1, left_current=1, right_current=2) %}
                                            {% if page_num %}
                                            
                                                {% if tipos_solicitacao.page == page_num %}
                                                    <li class="paginage_button page-item active">
                                                        <a href="{{ url_for('tipos_solicitacao.tipo_solicitacao_list',page=page_num )}}" data-dt-idx="{{page_num}}" class=page-link>
                                                            {{page_num}}
                                                        </a>
                                                    </li>
                                                {% else %}
                                                    <li class="paginage_button page-item">
                                                        <a href="{{ url_for('tipos_solicitacao.tipo_solicitacao_list',page=page_num) }}" data-dt-idx="{{page_num}}" class=page-link>
                                                            {{page_num}}
                                                        </a>
                                                    </li>
                                                {% endif %}
                                                
                                            {% else %}
                                                <li class="paginate_button page-item inactive">
                                                     ...
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if next %}
                                            <li class="paginage_button page-item next">
                                                <a href="{{ url_for('tipos_solicitacao.tipo_solicitacao_list',page=next) }}" data-dt-idx="{{next}}" class=page-link>
                                                    Próximo
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        <div class="row">
            <div class="col-lg-12">
                <a href="{{ url_for('tipos_solicitacao.tipo_solicitacao_novo') }}">
                    <button class="btn btn-primary">
                        Novo
                    </button>
                </a> 
            </div>
        </div>
    </div>

{% endblock  %}