{% extends "template.html" %}
{% block conteudo %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="media align-items-center mb-4">
                        <img class="rounded-circle account-img" src="{{ image_file }}" width="80" height="80" alt="">
                        <div class="media-body text-center">
                            <h3 class="mb-0">{{ current_user.login }}</h3>
                            <p class="text-muted mb-0">{{ current_user.id_setor }}</p>
                        </div>
                    </div>
                    
                               
                    <h4>About Me</h4>
                    <p class="text-muted">Hi, I'm Pikamy, has been the industry standard dummy text ever since the 1500s.</p>
                    <ul class="card-profile__info">
                        <li class="mb-1"><strong class="text-dark mr-4">Mobile</strong> <span>01793931609</span></li>
                        <li><strong class="text-dark mr-4">Email</strong> <span>{{current_user.email}}</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="card">
                <div class="card-body">
                    <form method="POST" action="{{ url_for('perfil') }}">
                        <div class="form-group">
                            {{ form.login_field.label(class="form-control-label") }}
                            {{ form.login_field(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form.email.label(class="form-control-label") }}
                            {{ form.email(class="form-control") }}
                        </div> 
                        <div class="form-group">
                            <button class="btn btn-primary px-3 ml-4">Atualizar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> 
{% endblock %}

    