{% extends "template.html" %}
{% block conteudo %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ titulo }} </h4>
                    <form method="POST" action="{{url_for('solicitacoes.atualizar_solicitacao',id_solicitacao=id_solicitacao)}}">
                        {{ form.hidden_tag() }}
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                {{ form.titulo.label(class="form-control-label") }}
                                {% if form.titulo.errors %}
                                    {{ form.titulo(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.titulo.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.titulo(class='form-control') }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.texto.label(class="form-control-label") }}
                            {% if form.texto.errors %}
                                {{ form.texto(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.texto.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.texto(class='form-control') }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.script.label(class="form-control-label") }}
                            {% if form.script.errors %}
                                {{ form.script(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.script.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.script(class='form-control') }}
                            {% endif %}
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                {{ form.tipo_solicitacao.label(class="form-control-label") }}
                                {% if form.tipo_solicitacao.errors %}
                                    {{ form.tipo_solicitacao(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.tipo_solicitacao.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.tipo_solicitacao(class='form-control') }}
                                {% endif %}
                            </div>
                            <div class="form-group col-md-4">
                                {{ form.ambiente.label(class="form-control-label") }}
                                {% if form.ambiente.errors %}
                                    {{ form.ambiente(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.ambiente.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.ambiente(class='form-control') }}
                                {% endif %}
                            </div>
                            <div class="form-group col-md-4">
                                {{ form.banco.label(class="form-control-label") }}
                                {% if form.banco.errors %}
                                    {{ form.banco(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.banco.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.banco(class='form-control') }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                {{ form.situacao.label(class="form-control-label") }}
                                {% if form.situacao.errors %}
                                    {{ form.situacao(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.situacao.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.situacao(class='form-control') }}
                                {% endif %}
                            </div>
                            <div class="form-group col-md-4">
                                {{ form.solicitante.label(class="form-control-label") }}
                                {% if form.solicitante.errors %}
                                    {{ form.solicitante(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.solicitante.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.solicitante(class='form-control') }}
                                {% endif %}
                            </div>
                            <div class="form-group col-md-4">
                                {{ form.responsavel.label(class="form-control-label") }}
                                {% if form.responsavel.errors %}
                                    {{ form.responsavel(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.responsavel.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.responsavel(class='form-control') }}
                                {% endif %}
                            </div>
                        </div>
                        <a href="{{ url_for('solicitacoes.solicitacao_list') }}"
                            class="btn btn-secondary mb-1">
                            Voltar
                        </a>
                        
                        {{ form.submit(class='btn btn-primary mb-1') }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}