{% extends "template.html" %}
{% block conteudo %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                            <h4 class="card-title">{{ title }}</h4>
                            <div class="row">
                                <div class="table-responsive">
                                    {% if solicitacoes.items %}
                                    <table class="table table-boredered">
                                        <thead>
                                            <th>#ID</th>
                                            <th>Solicitante</th>
                                            <th>Titulo</th>
                                            <th>Situação</th>
                                            <th>Ações</th>
                                        </thead>
                                        <tbody>
                                            {% for solicitacao in solicitacoes.items %}
                                            <tr>
                                                <td>{{ solicitacao.id }}</td>
                                                <td>{{ solicitacao.solicitante.login }}</td>
                                                <td>
                                                    <a href="{{ url_for('solicitacoes.solicitacao',id_solicitacao=solicitacao.id) }}">
                                                        {{ solicitacao.titulo_curto() }}
                                                    </a>
                                                </td>
                                                <td>{{ solicitacao.situacao.descricao }}</td>
                                                <td>
                                                        {% if solicitacao.situacao.is_ativo() and solicitacao.sem_dono() %}
                                                        <span>
                                                            <a href="{{ url_for('solicitacoes.pegar_solicitacao',id_solicitacao=solicitacao.id) }}" data-toggle="tooltip" data-placement="top" title="Pegar!">
                                                                Pegar <i class="fa fa-child color-muted m-r-5"></i> 
                                                            </a>
                                                        </span>
                                                        {% else %}
                                                            <span>
                                                                <a href="#">
                                                                    <i class="fa fa-stop-circle-o color-muted m-r-5"></i>
                                                                </a>
                                                            </span>
                                                        {% endif %}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>    
                                    </table>
                                    {% else %}
                                        <div class="media align-items-center mb-4">
                                            <div class="media-body">
                                                <h4 class="mb-1 text-muted">Sem itens</h4>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                        </div>
                         
                        <div class="row">
                            {% if solicitacoes.items %}
                            <div class="col-sm-12 col-md-5">
                                <div class="dataTables_info">
                                    Total de {{ total }}
                                </div>
                            </div>
                            {% endif %}
                            <div class="col-sm-12 col-md-7">
                                <div class="dataTables_paginage paging_simple_numbers">
                                    <ul class="pagination">
                                        {% if previous %}
                                        <li class="paginage_button page-item next">
                                            <a href="{{ url_for('solicitacoes.solicitacao_list',page=previous) }}" data-dt-idx="{{previous}}" class=page-link>
                                                Próximo
                                            </a>
                                        </li>
                                        {% endif %}
                                        {% for page_num in solicitacoes.iter_pages(left_edge=1,right_edge=1, left_current=1, right_current=2) %}
                                            {% if page_num %}
                                            
                                                {% if solicitacoes.page == page_num %}
                                                    <li class="paginage_button page-item active">
                                                        <a href="{{ url_for('solicitacoes.solicitacao_list',page=page_num )}}" data-dt-idx="{{page_num}}" class=page-link>
                                                            {{page_num}}
                                                        </a>
                                                    </li>
                                                {% else %}
                                                    <li class="paginage_button page-item">
                                                        <a href="{{ url_for('solicitacoes.solicitacao_list',page=page_num) }}" data-dt-idx="{{page_num}}" class=page-link>
                                                            {{page_num}}
                                                        </a>
                                                    </li>
                                                {% endif %}
                                                
                                            {% else %}
                                                <li class="paginate_button page-item inactive">
                                                     ...
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if next %}
                                            <li class="paginage_button page-item next">
                                                <a href="{{ url_for('solicitacoes.solicitacao_list',page=next) }}" data-dt-idx="{{next}}" class=page-link>
                                                    Próximo
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        <div class="row">
            <div class="col-lg-12">
                <a href="{{ url_for('solicitacoes.solicitacao_novo') }}">
                    <button class="btn btn-primary">
                        Novo
                    </button>
                </a> 
            </div>
        </div>
    </div>

{% endblock  %}