{% extends "template.html" %}
{% block conteudo %}
<link rel="stylesheet" href="{{ url_for('static',filename='plugins/highlightjs/styles/atom-one-dark.css') }}">
<div class="container-fluid">

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Solicitação #{{ solicitacao.id }}</h4>
                    <a href="{{ url_for('solicitacoes.solicitacao_filter_usuario',id_usuario=solicitacao.solicitante.id) }}">
                        <p>{{ solicitacao.solicitante.nome }}</p>
                    </a>
                    <hr>
                    {% include 'solicitacao/includes/solicitacao_atendida.html' %}
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <b>{{ form.titulo.label }}:</b>
                            {{ solicitacao.titulo }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-lg-12">
                            <b>{{ form.texto.label }}:</b>
                            {{ solicitacao.texto }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <b>{{ form.data_solicitacao.label }}:</b>
                            {{ solicitacao.get_data_solicitacao() }}
                        </div>
                        <div class="form-group col-lg-6">
                            <b>{{ form.situacao.label }}:</b>
                            {{ solicitacao.situacao.descricao }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-4">
                            <b>{{ form.tipo_solicitacao.label }}:</b>
                            {{ solicitacao.tipo_solicitacao.descricao }}
                        </div>
                        <div class="form-group col-lg-4">
                            <b>{{ form.ambiente.label }}:</b>
                            {{ solicitacao.ambiente.descricao }}
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-lg-4">
                            <b>{{ form.banco.label }}:</b>
                            <a
                                href="{{ url_for('bancos_trabalho.banco_trabalho',id_banco_trabalho=solicitacao.banco.id) }}">
                                {{ solicitacao.banco.nome }}
                            </a>

                        </div>
                        <div class="form-group col-lg-4">
                            <b>{{ form.responsavel.label }}:</b>
                            {% if not solicitacao.responsavel %}
                                <a href="#" data-toggle="modal" data-target="#pegarModal"
                                data-placement="top" title="Pegar Solicitação">
                                <span class="alert-warning p-1"> <b>Sem reponsável.</b> </span>
                                </a>
                                <div class="modal fade" id="pegarModal">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Pegar Tarefa</h5>
                                                <button type="button" class="close"
                                                    data-dismiss="modal"><span>&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">Deseja realmente se tornar responsável por essa tarefa?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Não</button>
                                                <form
                                                    action="{{ url_for('solicitacoes.pegar_solicitacao',id_solicitacao=solicitacao.id) }}"
                                                    method="POST">
                                                    <button type="submit" class="btn btn-primary">Sim</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                {{ solicitacao.responsavel.nome }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <b>{{ form.script.label }}:</b>
                            <textarea class="form-control" rows="5" disabled>{{ solicitacao.script }}</textarea>

                        </div>
                    </div>
                   
                    <div class="row">
                        <div class="form-group col-lg-4  mt-3">
                            <a href="{{ url_for('solicitacoes.solicitacao_list') }}">
                                <button class="btn btn-secondary"> Voltar </button>
                            </a>
                            <a href="{{ url_for('solicitacoes.editar_solicitacao',id_solicitacao=solicitacao.id) }}">
                                <button class="btn btn-primary"> Editar </button>
                            </a>
                            {% if solicitacao.situacao.is_ativo() %}
                            <a href="#" data-toggle="modal" data-target="#cancelarModal"
                                        data-placement="top" title="Remover">
                                <button class="btn btn-warning"> Cancelar </button>
                            </a>
                            <div class="modal fade" id="cancelarModal">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Cancelar</h5>
                                                <button type="button" class="close"
                                                    data-dismiss="modal"><span>&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">Deseja realmente cancelar essa solicitação?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Não</button>
                                                <form
                                                    action="{{ url_for('solicitacoes.cancelar_solicitacao',id_solicitacao=solicitacao.id) }}"
                                                    method="POST">
                                                    <button type="submit" class="btn btn-primary">Sim</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                            <a href="#" data-toggle="modal" data-target="#reabrirModal"
                                        data-placement="top" title="Reabrir">
                                <button class="btn btn-success"> Reabrir </button>
                            </a>
                            <div class="modal fade" id="reabrirModal">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Reabrir Solicitação</h5>
                                            <button type="button" class="close"
                                                data-dismiss="modal"><span>&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Deseja realmente reabrir essa solicitação?</p>
                                            <p>Ao reabrí-la, você será automaticamente responsável por ela.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Não</button>
                                            <form
                                                action="{{ url_for('solicitacoes.reabrir_solicitacao',id_solicitacao=solicitacao.id) }}"
                                                method="POST">
                                                <button type="submit" class="btn btn-primary">Sim</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if solicitacao.situacao.is_ativo() %}
    <div class="row">
        <div class=col-lg-12>
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        Opções de execução
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <button class="btn btn-warning" id="botao_checar">Checar</button>
                            <a href="{{ url_for('solicitacoes.executar_solicitacao',id_solicitacao=solicitacao.id) }}"> 
                            {% if solicitacao.is_checked() %}
                                <button class="btn btn-success" id="botao_executar">Executar</button>
                            {% else %}
                                <button class="btn btn-danger" id="botao_executar">Executar</button>
                            {% endif %}
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <b>URL: </b>{{ solicitacao.banco.url() }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12" id="resultado_checagem"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endif %}

</div>

<!-- <script src="{{ url_for('static',filename='js/solicitacoes.js') }}"></script> -->
<script src="{{ url_for('static',filename='plugins/highlightjs/highlight.pack.min.js') }}"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script>
    function check_script() {
        //const result = document.getElementById('')
        var resultado_checagem = $('div#resultado_checagem');
        resultado_checagem.empty();
        resultado_checagem.addClass('load-content');
        $.post("{{url_for('solicitacoes.checar_solicitacao',id_solicitacao=solicitacao.id)}}",
            {}, function (data) {
                resultado_checagem.removeClass('load-content');
                var result = data.result;
                text = "<pre><code class='properties'>"+ data.output +"</code></pre>"
                resultado_checagem.append(text);

                if (result == true) {
                    botao = $('#botao_executar');
                    botao.removeClass('btn-danger');
                    botao.addClass('btn-success');
                    //resultado_checagem.text(data.output)
                } else {
                    console.log('Houve um erro!');
                    console.log(data.output);
                }
            });
    }


    document.getElementById('botao_checar').addEventListener('click', function (ev) {
        ev.preventDefault();
        check_script();
    });
</script>
{% endblock  %}