{% extends "template.html" %}
{% block conteudo %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ title }}</h4>
                    <div class="row">
                        <div class="table-responsive">
                            {% if linguagens.items %}
                            <table class="table table-boredered">
                                <thead>
                                    <th>#ID</th>
                                    <th>Descrição</th>
                                    <th>Ações</th>
                                </thead>
                                <tbody>
                                    {% for linguagem_comentario in linguagens.items %}
                                    <tr>
                                        <td>{{ linguagem_comentario.id }}</td>
                                        <td>
                                            <a href="{{ url_for('linguagens_comentario.linguagem_comentario',id_linguagem_comentario=linguagem_comentario.id) }}">
                                                {{ linguagem_comentario.descricao }}
                                            </a>
                                        </td>
                                        <td>
                                            <span>
                                                <a href="{{ url_for('linguagens_comentario.editar_linguagem_comentario',id_linguagem_comentario=linguagem_comentario.id) }}"
                                                    data-toggle="tooltip" data-placement="top" title="Editar">
                                                    <i class="fa fa-pencil color-muted m-r-5"></i>
                                                </a>
                                                <a href="#" data-toggle="modal" data-target="#deleteModal_{{linguagem_comentario.id}}"
                                                    data-placement="top" title="Remover">
                                                    <i class="fa fa-close color-danger m-r-5"></i>
                                                </a>
                                                <div class="modal fade" id="deleteModal_{{linguagem_comentario.id}}">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Excluir</h5>
                                                                <button type="button" class="close"
                                                                    data-dismiss="modal"><span>&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">Deseja realmente excluir esse item?
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Cancelar</button>
                                                                <form
                                                                    action="{{ url_for('linguagens_comentario.remover_linguagem_comentario',id_linguagem_comentario=linguagem_comentario.id) }}"
                                                                    method="POST">
                                                                    <button type="submit"
                                                                        class="btn btn-primary">Excluir</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </span>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                            <div class="media align-items-center mb-4">
                                <div class="media-body">
                                    <h4 class="mb-1 text-muted">Sem itens</h4>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% include 'linguagem_comentario/includes/paginacao_lista.html' %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            {% include 'linguagem_comentario/includes/botao_novo.html' %}
        </div>
    </div>
</div>

{% endblock  %}