{% extends "template.html" %}
{% block conteudo %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ titulo }} </h4>
                    <form method="POST" action="{{url_for('linguagens_comentario.linguagem_comentario_novo')}}">
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                {{ form.descricao.label(class="form-control-label") }}
                                {% if form.descricao.errors %}
                                    {{ form.descricao(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.descricao.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.descricao(class="form-control") }}
                                {% endif %}
                            </div>
                            
                            <div class="general-button">
                                    <a href="{{ url_for('linguagens_comentario.linguagem_comentario_list') }}" class="btn btn-secondary md-1">
                                        Voltar
                                    </a>
                                    {{ form.submit(class="btn btn-primary md-1") }}
                            </div>
                            
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('descricao').focus();
</script>
{% endblock  %}
