{% extends "template.html" %}
{% block conteudo %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ title }}</h4>
                    <ul class="card-profile__info">
                        <li class="mb-1">
                            <strong class="text-dark mr-4">
                                {{ form.id.label }}:
                            </strong> 
                            <span>
                                {{ form.id.data }}
                            </span>
                        </li>
                        <li class="mb-1">
                            <strong class="text-dark mr-4">
                                {{ form.descricao.label }}:
                            </strong> 
                            <span>
                                {{ form.descricao.data }}
                            </span>
                        </li>
                    </ul>
                    <div class="general-button">
                        <a href="{{ url_for('linguagens_comentario.linguagem_comentario_list') }}" class="btn btn-secondary mb-1">
                                Voltar
                        </a>
                        <a href="{{ url_for('linguagens_comentario.editar_linguagem_comentario',id_linguagem_comentario=form.id.data) }}">
                            <button type="button" class="btn mb-1 btn-primary">
                                Editar
                            </button>
                        </a>
                        <a href="#" data-toggle="modal" data-target="#deleteModal">
                            <button type="button" class="btn mb-1 btn-danger">
                                Excluir
                            </button>
                        </a>
                        <div class="modal fade" id="deleteModal">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Excluir</h5>
                                            <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">Deseja realmente excluir esse item?</div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                            <form action="{{ url_for('linguagens_comentario.remover_linguagem_comentario',id_linguagem_comentario=form.id.data) }}" method="POST">
                                                <button type="submit" class="btn btn-primary">Excluir</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}